.modal-filter {
  margin: 0 !important;
  position: absolute;
  width: 30%;
  left: 0;
  height: 100% !important;
}

.modal__content-filter {
  height: 100% !important;
  width: 100% !important;
}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.wish__btn {
  position: absolute;
  top: 0;
}

/*//!FILTER RADIO BUTTON*/
.input-filter {
  display: none;
}
.label-filter:checked {
  background-color: black;
}
.label-filter {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: aqua;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-filter:checked + .label-filter::before {
  content: "✔️";
  font-size: 1.4rem;
}
.input-black {
  background-color: black;
}
.input-white {
  background-color: whitesmoke;
}
.input-blue {
  background-color: dodgerblue;
}
.input-red {
  background-color: red;
}
.input-green {
  background-color: green;
}
.input-pink {
  background-color: pink;
}
.input-purple {
  background-color: purple;
}
